.creacion-campana-container{
  display: flex;
  position:relative;
  height: 100%;
}

.edicion-campana-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* background-color: blue; */
  width: calc(100% - 250px - 40px); /*250px for the lateral popup width and 40px to have space between*/
  border: 1px solid black;
  overflow: auto;
}


.cotizacion-campana-container{
  position: absolute;
  border: 1px solid black;
  /* background-color: red; */
  width: 250px;
  height: 500px;
  top: 0;
  right: 0;
}