/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1, h2, h3, p, b {
    font-family: 'Montserrat', 'Cocogoose Pro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
  max-height: 70vh; /* Adjust height as needed */
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--red);
}

.campaña-panel-image {
  width: 40%;
  height: 300px;
  object-fit:cover;
  border-radius: 5px;
}

.schedule-table {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.header-row {
  background-color: #f2f2f2;
}

.header-cell, .body-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.body-row:nth-child(even) {
  background-color: #f9f9f9;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.circle.filled {
  background-color: #4caf50;
}

.modal-info {
  display: flex;
  margin-top: 10px;
}

.modal-text-data{
  padding: 10px;
}

.modal-text-data p{
  margin: 5px;
}