.campana-selection-container{
  display: flex;
  flex-direction: row;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}

.campana-selection-select-container{
  width: 230px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  select {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 700;
  }

}
.campana-selection-image{
  height: 230px;
  width: 230px;
}

.campana-selection-text{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;

  p{
    text-align: left;
    margin-bottom: 10px;
  }
}