.campana-selection-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.campana-selection-select-container{
  width: 260px;
}
.campana-selection-image{
  height: 230px;
  width: 230px;
}

.campana-selection-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    text-align: center;
  }
}