.campaña-card-container{
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 350px;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 10px 30px 0px rgba(150, 150, 150, 0.3);
  background-color: var(--white);
  transition: box-shadow 0.5s ease-in-out
}

.campaña-card-container:hover {
  box-shadow: 0px 10px 30px 0px rgba(174, 245, 111, 0.5);
  cursor: pointer;
}

.campaña-card-image-container{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.campaña-panel-image{
  width: 100%;
  height: 100%;
}

.campaña-card-panel-description-and-data-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis (...) */
  max-height: 100px; /* Adjust the maximum width as needed */
}

.campaña-card-panel-description{
  display: flex;
  flex-direction: column;
}

.campaña-card-panel-name{
  color: var(--black);
  font-size: 25px;
  font-weight: 600;
}

.campaña-card-panel-description{
  color: var(--primary);
  font-size: 25px;
  font-weight: 500;
}

.campaña-card-panel-data{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: end;
  bottom: 10px;
  right: 10px;
}

.campaña-card-panel-date{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}

.campaña-card-panel-number-views-container{
  display: flex;
  align-items: center;
}

.campaña-card-visualization-image{
  width: 25px;
  height: 21px;
  margin: 0;
  margin-right: 10px;
}

.campaña-card-panel-number-visualizations{
  color: var(--black);
  font-size: 25px;
  font-weight: 500;
}