.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout-content {
  display: flex;
  height: calc(100% - 90px); /* Adjust based on header height */
  margin-top: 90px; /* Adjust based on header height */
}

.content {
  margin-left: 250px; /* Width of the sidebar */
  padding: 40px;
  flex-grow: 1;
  overflow-y: auto;
}
